

/* 아이템 박스들 */
.item_area {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}
.item_box{
    width: calc(100% / 2);
    /* height: 60vh; -> 높이 굳이 안묶어두고 안에 자식들끼리 알아서 높이 잡게끔 */

    box-shadow: 0 0 0 1px #000;
    background-color: #fff;

    position: relative;
    padding: 20px 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden ;
}
.img_box {
    width: 100%;
    height: calc((100vw - ((20px) * 2)) / 2);

    border: 1px solid;
    box-sizing: border-box;

    text-align: center;

    overflow: hidden;
}
.img_box img {
    width: 100%;
}
.color_otp_box {
    display: flex;
}
.color_opt {
    width: 15px;
    height: 15px;

    border-radius: 50%;
    border: 0.5px solid;
    box-sizing: border-box;

    background-color: yellow;

    margin: 10px 5px 5px 0px;
}
.item_name {
    font-size: 20px;
    line-height: 30px;
    text-overflow: ellipsis;
    margin-top: 15px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}
.item_price {
    font-size: 17px;
}
.i_inform_box {
    display: flex;
    gap: 5px;

    height: 20px;

    margin-top: 15px;
}
.inform_icon {
    width: 40px;
    height: 100%;
    line-height: 20px;

    border: 1px solid;
    border-radius: 10px;

    text-align: center;
    font-size: 13px;
}
.i_best {background-color: #00ff00;}
.i_new {color: #00ff00;}
.i_sale {background-color: #000; color: #00ff00;}